<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Exemplo de aplicação cliente em VueJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">                
            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" :class="{active: currentPage === 'students'}" style="cursor: pointer">
                        <a class="nav-link" @click="goToStudentsPage">Alunos</a>
                    </li>
                    <li class="nav-item" :class="{active: currentPage === 'courses'}" style="cursor: pointer">
                        <a class="nav-link" @click="goToCoursesPage">Cursos</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row p-3">
            <div class="col-12">
                <div v-if="currentPage === 'students'">
                    <div class="card">
                        <div class="card-header">
                            {{studentFormTitle}}
                        </div>
                        <div class="card-body">
                            <div class="row mx-0">
                                <div class="col-8">
                                    <div class="form-group row align-items-center">
                                        <label for="studentName" class="col-3 mb-0">Nome</label>
                                        <input type="text" class="form-control col-9" id="studentName" 
                                        placeholder="Nome do aluno" v-model="studentName">
                                    </div>
                                </div>
                                <div class="col-4 justify-content-end">
                                    <div class="form-group row align-items-center">
                                        <label for="studentPeriod" class="col-auto mb-0">Período</label>
                                        <input type="number" class="form-control col" id="studentPeriod"
                                        v-model="studentPeriod">
                                    </div>
                                </div>
                            </div>
                            <div class="row mx-0">
                                <div class="col-8">
                                    <div class="form-group row align-items-center">
                                        <label for="studentCourse" class="col-3">Curso</label>
                                        <select class="form-control col-9" id="studentCourse"
                                        v-model="studentCourse">
                                            <option>Nenhum</option>
                                            <option v-for="course in courses">{{course.nome}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="row justify-content-end">
                                        <div class="col-auto">
                                            <button type="button" @click="saveStudent" 
                                                class="btn btn-success">
                                                Salvar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-3">
                        <div class="card-header">
                            Alunos cadastrados
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Curso</th>
                                        <th scope="col">Período</th>
                                        <th scope="col">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(student, index) of students">
                                        <td>{{student.nome}}</td>
                                        <td>{{student.curso.nome}}</td>
                                        <td>{{student.periodo}}</td>
                                        <td>
                                            <button type="button" @click="editStudent(index)"
                                            class="btn btn-primary">
                                                Editar
                                            </button>
                                            <button type="button" @click="deleteStudent(index)"
                                            class="btn btn-danger">
                                                Excluir
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div v-if="currentPage === 'courses'">
                    <div class="card">
                        <div class="card-header">
                            {{courseFormTitle}}
                        </div>
                        <div class="card-body">
                            <div class="row mx-0">
                                <div class="col-7">
                                    <div class="form-group row align-items-center">
                                        <label for="courseName" class="col-3 mb-0">Nome</label>
                                        <input type="text" class="form-control col-9" id="courseName" 
                                        placeholder="Nome do curso" v-model="courseName">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group row align-items-center">
                                        <label for="courseDuration" class="col-auto mb-0">Duração</label>
                                        <input type="number" class="form-control col" id="courseDuration"
                                        v-model="courseDuration" placeholder="Duração do curso em meses">
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="row justify-content-end">
                                        <div class="col-auto">
                                            <button type="button" @click="saveCourse" 
                                                class="btn btn-success">
                                                Salvar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-3">
                        <div class="card-header">
                            Cursos cadastrados
                        </div>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Nome</th>
                                        <th scope="col">Duração</th>
                                        <th scope="col">Ações</th>  
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(course, index) of courses">
                                        <td>{{course.nome}}</td>
                                        <td>{{course.duracao}}</td>
                                        <td>
                                            <button type="button" @click="editCourse(index)"
                                            class="btn btn-primary">
                                                Editar
                                            </button>
                                            <button type="button" @click="deleteCourse(index)"
                                            class="btn btn-danger">
                                                Excluir
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                apiURL: 'http://localhost:8080',
                studentFormTitle: 'Cadastrar Aluno',
                studentId: null,
                studentName: '',
                studentPeriod: null,
                studentCourse: null,
                students: [],
                courseFormTitle: 'Cadastrar Curso',
                courseId: null,
                courseName: '',
                courseDuration: null,
                courses: [],
                pages: [
                    'students', 'courses'
                ],
                currentPage: 'students'
            },
            mounted() {
                $.get(this.apiURL + '/conexao/status', {}, function(data, status) {
                    console.log("Conexão: " + data);
                }.bind(this));     

                this.loadStudents();
                this.loadCourses();           
            },
            methods: {
                loadStudents() {
                    $.get(this.apiURL + '/alunos', {}, function(data, status) { 
                        if (data && data.length) {
                            this.students = data;
                        }
                    }.bind(this));
                },

                saveStudent() {
                    /*this.students[position] = {
                        name: this.studentName,
                        period: this.studentPeriod,
                        course: this.studentCourse
                    };*/

                    this.studentId = null;
                    this.studentName = '';
                    this.studentPeriod = null; 
                    this.studentFormTitle = 'Cadastrar Aluno';    
                    this.studentCourse = null;
                },

                deleteStudent(index) {
                    this.students.splice(index, 1);
                },

                editStudent(index) {
                    this.studentId = this.students[index].id;
                    this.studentName = this.students[index].name;
                    this.studentPeriod = this.students[index].period;
                    this.studentCourse = this.students[index].course;
                    this.studentFormTitle = 'Atualizar Aluno';
                },

                loadCourses() {
                    $.get(this.apiURL + '/cursos', {}, function(data, status) { 
                        if (data && data.length) {
                            this.courses = data;
                        }
                    }.bind(this));
                },

                saveCourse() {
                    var method = 'POST';
                    var id = null;
                    if (this.courseId) {
                        method = 'PUT';
                        id = this.courseId;
                    }

                    $.ajax({
                        url: this.apiURL + '/cursos',
                        type: 'POST',
                        contentType: 'application/json',
                        data : JSON.stringify({
                            id: id,
                            nome: this.courseName,
                            duracao: this.courseDuration
                        }),
                        success: function(result) {
                            this.loadCourses();
                        }.bind(this)
                    });

                    this.courseId = null;
                    this.courseName = '';
                    this.courseDuration = null; 
                    this.courseFormTitle = 'Cadastrar Curso';    
                },

                deleteCourse(index) {
                    $.ajax({
                        url: this.apiURL + '/cursos/' + this.courses[index].id,
                        type: 'DELETE',
                        success: function(result) {
                            this.loadCourses();
                        }.bind(this)
                    });
                },

                editCourse(index) {
                    this.courseId = this.courses[index].id;
                    this.courseName = this.courses[index].nome;
                    this.courseDuration = this.courses[index].duracao;
                    this.courseFormTitle = 'Atualizar Curso';
                },

                goToStudentsPage() {
                    this.currentPage = this.pages[0];
                },

                goToCoursesPage() {
                    this.currentPage = this.pages[1];
                }
            }
        });
    </script>
</body>
</html>